{% extends 'network/layout.html' %}
{% load static %}

{% block title %}
    {% if target_user.first_name and target_user.last_name %}
    {{target_user.first_name|title}} {{target_user.last_name|title}} | Network
    {% else %}
    {{target_user.username|title}} | Network
    {% endif %}
{% endblock %}

{% block body %}


<div class="profile border p-3 m-3">
  <p> {% if target_user.first_name and target_user.last_name %}
    <h4 class="details-name">{{target_user.get_full_name }}</h4>
    {% else %}   
    <h4 class="details-name">{{target_user.username|title}}</h4>
    {% endif %} 
    {% if user.is_authenticated %}
      {% if user.username != target_user.username %}
          {% if not following_target_user %}
          <form class="" method="post">
              {% csrf_token %}
              <button class="btn btn-warning btn-sm" type="submit" value="Follow">Follow</button>
          </form>
          {% elif following_target_user %}
          <form class="" method="post">
              {% csrf_token %}
              <button class="btn btn-warning btn-sm" type="submit" value="Unfollow">Unfollow</button>
          </form>
          {% endif %}
      {% endif %}
    {% endif %}
  </p> 
    <span >{{posts}} Posts</span>
    <p class="mt-2">
        <span >{{totalfollower}} Follower</span>
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#followers">View</button>
    </p>
    <p >
      <span >{{totalfollowing}} Following </span>
      <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#following">View</button>
  </p>    

</div>

  <div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title details-name" id="exampleModalLongTitle">Total Followers: {{totalfollower}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        {% for follow in follower %}
        <p class="card-header"><a href="{% url 'profile' follow.follower%} ">{{follow.follower|title}}</a></p>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="following" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title details-name" id="exampleModalLongTitle">Total Following: {{totalfollowing}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        {% for follow in following %}
        <p class="card-header"><a href="{% url 'profile' follow.following%}">{{follow.following|title}}</a></p>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>



{% for post in page_obj %}
<div class="container">
  <div class="card border-secondary mb-3 post-object{{post.id}}">
    <div class="card-header d-flex align-items-center">
      <h2 class=""><a href="{% url 'profile' post.user.username %} ">{{post.user|title}}</a></h2>
      <small class="  "> ({{post.date}})</small>
    </div>
    
    <div class="card-body text-secondary">
      
      <p class="card-text post-object-content{{post.id}}">{{post.content}}</p>
        <div class="d-flex justify-content-between">
          {% if user.is_authenticated %}
              {% if request.user in post.liked.all %}
              <div class="">
                <a class="like" href="#" data-postid="{{ post.id }}" id="{{post.id}}" data-total="{{post.liked.all.count}}"  data-value="Unlike" value="submit">
                  <i class="far fa-thumbs-up" id="like{{post.id}}" style="color:red;"></i>
                  <span id="liked{{post.id}}"> {{post.liked.all.count}}</span>
                </a>
              </div>
                {% else %}
              <div class="">
                <a class="like" href="#" data-postid="{{ post.id }}" id="{{post.id}}" data-total="{{post.liked.all.count}}"  data-value="Like" value="submit">
                  <i class="far fa-thumbs-up" id="like{{post.id}}" style="color:black;"></i>
                  <span id="liked{{post.id}}"> {{post.liked.all.count}}</span>
                </a>
              </div>

              {% endif %}
              {% if request.user == post.user %}
              <div class="float-right">
                <button type="button" class="btn btn-success" id="edit-button" data-content="{{post.content}}" data-postid="{{post.id}}" data-toggle="modal" data-target="#edit">Edit</button>
              </div>

              {% endif %}
          {% else %}
              <a class="like" href="#" data-postid="{{ post.id }}" id="{{post.id}}" data-total="{{post.liked.all.count}}"  data-value="Unlike" value="submit">
                <i class="far fa-thumbs-up" id="like{{post.id}}" style="color:black;"></i>
                <span id="liked{{post.id}}"> {{post.liked.all.count}}</span>
              </a>
          {% endif %}
        </div>

    </div>
  </div>
</div>


<div class="modal fade modal-edit" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content new-post-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method=POST >
              {% csrf_token %}
              <input type="hidden" id="post-id-container">
              <textarea rows="10" class="form-control" id="edit-input" name="textarea"></textarea>

              <br>
              <div class="modal-footer">
                  <button class="btn btn-success edit-post" data-postid="{{post.id}}" type="submit" value="Save">Submit</button>
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}
    <hr>

        <div class="container">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link">&laquo; First</a></li>
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
                {% endif %}
                    
        
                {% if page_obj.number %}
                <li class="page-item"><a class="page-link">{{ page_obj.number }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link">0</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
                <li class="page-item disabled"><a class="page-link">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </div>

{% endblock %}